doctype html
html

  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="description", content="map trees using this app")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

    title Tree Map

    link(rel="stylesheet", href="/styles/app.css")
    link(rel="stylesheet", href="//cdn.leafletjs.com/leaflet-0.7.2/leaflet.css")

  body
    .main(ui-view="")

    script(src="//cdn.jsdelivr.net/angularjs/1.2.15/angular.js")
    script(src="//cdn.jsdelivr.net/angular.ui-router/0.2.10/angular-ui-router.js")

    script(src="//code.jquery.com/jquery-2.0.0.min.js")
    script(src="//cdn.leafletjs.com/leaflet-0.7.2/leaflet.js")

    script(src="/app.js")
